*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
.DS_Store
/build
/captures
.externalNativeBuild
